.portfolio__container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
    gap: 2.5rem;
    margin-top: 2rem;
}
.portfolio__item{
    background: #50404D;
    padding: 2rem;
    border-radius:3em;
    transition: var(--transition);
    border: 1px solid transparent;
   
}
.portfolio__item:hover{
    background: transparent;
    border: 1px solid ;
    transform: translateY(-0.5rem);
}
.portfolio__item-image{
    overflow: hidden;
    border-radius:10px;
}

.portfolio__item h3{
margin:1.2rem 0 2rem; 
font-size: 1em;
}

.portfolio__item-cta{
    display: flex;
    gap:1rem;
    margin-bottom: 1rem;
}
.sml__heading{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 2rem;

}
#portfolio{
  
    padding: 6rem ;
}
.portfolio-h3{
    display: flex;
    justify-content:center;
}
a.btn{
    color: #F7F5F6;
}


/* this is for tablet  */
@media screen and (max-width: 1024px){
    .portfolio__container{
        grid-template-columns: 1fr 1fr;
    
        gap: 1rem;
    }

    
    #portfolio{
  
        padding: 3em ;
    }
   
}

/* this is for phone */
@media screen and (max-width: 600px){
    .portfolio__container{
        grid-template-columns: 1fr;
        gap:1rem;
    }
    
}

@media screen and (max-width: 400px){
    /* .portfolio__container {
       
        margin-left:-1em,
    } */
    .portfolio__item {
        background: #50404D;
        padding: 2rem;
        border-radius: 3em;
        transition: var(--transition);
        border: 1px solid transparent;
        margin-left: -1em;
    }
    
}