footer {
    background: var(--color-white);
    padding-top: 3rem 0;
    box-shadow: 0 -2rem 1rem hsla(var(--primary-hue), 68%, 42%, 20%);
    transition: var(--transition);
    font-size: 1rem;
    text-align: center;
}


footer a{
    color:var(--color-dark)
}
.permalinks{
    
    display: flex;
   flex-wrap: wrap;
   justify-content: center;
   
   
    
    
    
    justify-content: space-evenly;
    padding-top: 1rem;
    font-size: 1rem;
}
    
.footer__socials{
    display: flex;
    justify-content: center;
    gap: 2rem;
   
    padding: 1rem;
    

}

.footer__socials a {
    padding:0.6rem;
    background: var(--color-black);
    color: var(--color-light);
    width: fit-content;
    border-radius: var(--border-radius-3);
    
    
    

   
    
}

.footer__socials a:hover {
    background: transparent;
    color: var(--color-black);
    border:var(--color-black);
    
}


.footer__copyright {
    color:var(--color-white); 
   
    font-size: 0.8rem;
}