 footer {
    background:   #9E7BB5;
    padding-top: 3rem 0;
    box-shadow: 0 -1rem 1rem hsla(var(--primary-hue), 40%, 60%, 50%);
    transition: var(--transition);
    font-size: 1rem;
    text-align: center;
   
} 

.permalinks{
    
    display: flex;
   flex-wrap: wrap;
   justify-content: center;
   background-color: #9E7BB5 ;
   color: #1F201F;
    justify-content: space-evenly;
    padding-top: 1rem;
    font-size: 1rem;
}

.permalinks a:hover{
    color:#9966CC;
    
    }
    
.footer__socials{
    display: flex;
    justify-content: center;
    gap: 2rem;
   
    padding: 1rem;
    

}

.footer__socials a {
    padding:0.6rem;
    background: #1F201F;
    color: #9E7BB5;
    width: fit-content;
    border-radius: 50%;
    
    
    

   
    
}

.footer__socials a:hover {
    background: transparent;
    color:#1F201F ;
   
    
}


.footer__copyright {
    color:#1F201F; 
   
    font-size: 0.8rem;
}