 .contact__container {
     width: fit-content;
    display: flex;
    justify-content: center;
    gap: 3rem;
} 
.contact-form{
    width: 100%;
    margin-top:20px;
    

}
ul{
    padding:0;
    margin:0;
}
li{
    list-style:none;
    margin-bottom:10px;
    padding:0;
    overflow: hidden;
}
.conf__message{
    color: #86608E !important;
   }  
     
    
    
    

li.half{
width:49%;
margin-left: 2%;
float:left;
} 


 .text{
    width:100%;
    border:0;
    background:  #484449;
    height:50px;
    font-size: 16px;
    color:GREY;
    padding: 20px;
    min-height: 60px;
    box-sizing: border-box;
    border: 2px solid  #86608E;
    transition: var(--transition);
}
.email{
    width:100%;
    border:0;
    background:  #484449;
    height:50px;
    font-size: 16px;
    color:GREY;
    padding: 20px;
    min-height: 60px;
    box-sizing: border-box;
    border: 2px solid  #86608E;
    transition: var(--transition);

}
 .message{
    width:100%;
    border:0;
    background:  #484449;
    height:50px;
    font-size: 16px;
    color:rgb(128, 128, 128);
    padding: 20px;
    min-height: 150px;
    box-sizing: border-box;
    border: 2px solid   #86608E;
    transition: var(--transition);
}
.submit-btn{
   
    background: #1F201F;
    color:  #F7F5F6;
    font-size: 16px;
    font-weight: 600;
    padding: 20px;
    border: 0;
    border-radius: 5px;
    transition: var(--transition);
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    border: 2px solid  #F7F5F6;
    transition: var(--transition);
   
    border-radius: var(--border-radius-2);
} 
    

 .text:hover {
    background-color:#86608E ;
    color:  #F7F5F6;

}
.message:hover {
    background-color:#86608E;
    color:  #F7F5F6;

}
.email:hover {
    background-color: #86608E;
    color:  #F7F5F6;

} 


 .container.contact__container{
    display: flex;
    
    width: 58%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
    


.contact__options{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 2rem;
}



.contact__option{
    background-color:#4C2882;
    padding: 2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
}

.contact__option:hover{
    background-color: transparent;
    border: 1px solid #4C2882;
}

.contact__option-icon{
    font-size: 3rem;
    color: #4C2882;
    margin-bottom: 0.5rem;
}

.contact__option a{
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 0.8rem;
}

.conf__message{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 2rem;
    color: #4C2882;
}

/* this is the form  */
 form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 2rem;
    padding-left: 10rem;
    padding-right: 10rem;


    
    
}

input, textarea{
    width:100%;
    padding: 1.5rem;
    border: 2px solid #4C2882;
    border-radius: 0.5rem;
    transition: var(--transition);
    background:transparent;
    resize: none;
    color:#4C2882 ;
}  


/* MEDIA QUERIES (tablet) */
@media screen and (max-width: 1024px) {
    .container.contact__container {
    grid-template-columns: 1fr;
    gap:2rem;
    }
}  

/* media for phones */
@media screen and (max-width: 600px) {
    .container.contact__container {
        width:var(--container-width-md)
   
    }
}

@media screen and (max-width: 450px) {
    form {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        padding-top: 1rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
    }

