 .contact__container {
     width: fit-content;
    display: flex;
    justify-content: center;
    gap: 3rem;
} 
.contact-form{
    width: 100%;
    margin-top:20px;
    

}
ul{
    padding:0;
    margin:0;
}
li{
    list-style:none;
    margin-bottom:10px;
    padding:0;
    overflow: hidden;

     
     
    
    
    
}
li.half{
width:49%;
margin-left: 2%;
float:left;
} 


 .text{
    width:100%;
    border:0;
    background: var(--color-light);
    height:50px;
    font-size: 16px;
    color:GREY;
    padding: 20px;
    min-height: 60px;
    box-sizing: border-box;
    border: 1px solid black;
    transition: var(--transition);
}
.email{
    width:100%;
    border:0;
    background: var(--color-light);
    height:50px;
    font-size: 16px;
    color:GREY;
    padding: 20px;
    min-height: 60px;
    box-sizing: border-box;
    border: 1px solid black;
    transition: var(--transition);

}
 .message{
    width:100%;
    border:0;
    background: var(--color-light);
    height:50px;
    font-size: 16px;
    color:GREY;
    padding: 20px;
    min-height: 150px;
    box-sizing: border-box;
    border: 1px solid black;
    transition: var(--transition);
}
.submit-btn{
   
    background: var(--color-primary);
    color: var(--color-white);
    font-size: 16px;
    font-weight: 600;
    padding: 20px;
    border: 0;
    border-radius: 5px;
    transition: var(--transition);
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    border: 2px solid white;
    transition: var(--transition);
   
    border-radius: var(--border-radius-2);
} 
    

 .text:hover {
    background-color: var(--color-primary);
    color: var(--color-dark);

}
.message:hover {
    background-color: var(--color-primary);
    color: var(--color-dark);

}
.email:hover {
    background-color: var(--color-primary);
    color: var(--color-dark);

} 


 .container.contact__container{
    display: flex;
    
    width: 58%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
    


.contact__options{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 2rem;
}



.contact__option{
    background-color: var(--color-light);
    padding: 2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
}

.contact__option:hover{
    background-color: transparent;
    border: 1px solid var(--color-primary);
}

.contact__option-icon{
    font-size: 3rem;
    color: var(--color-primary);
    margin-bottom: 0.5rem;
}

.contact__option a{
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 0.8rem;
}

/* this is the form  */
 form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
}

input, textarea{
    width:100%;
    padding: 1.5rem;
    border: 2px solid var(--color-primary-variant);
    border-radius: 0.5rem;
    transition: var(--transition);
    background:transparent;
    resize: none;
    color:var(--color-dark) ;
}  


/* MEDIA QUERIES (tablet) */
@media screen and (max-width: 1024px) {
    .container.contact__container {
    grid-template-columns: 1fr;
    gap:2rem;
    }
}  

/* media for phones */
@media screen and (max-width: 600px) {
    .container.contact__container {
        width:var(--container-width-md)
   
    }
}