.card{
    background-color:#1F201F;
    padding: 1.5rem;
    border-radius: var(--boarder-radius-1);
    border: 2px solid transparent;

}

.card:hover{
    background: transparent;
    border-color: var(--color-white);
    transform: translateY(-0.5rem);
}

.card.light{
    background: var(--color-light);
}

.card.light:hover{
    background: transparent;
    border-color: var(--color-light);
}
p{
    font-size: 1.2rem;
}

/* media queries for phone */
@media screen and (max-width: 600px){
    .card{
        padding: 1.2rem;
    }
}

