





.navbar {
     background: #9E7BB5;
  width: 100vw;
  height: 7rem;
  display: grid;
  place-items: center;
  position:fixed;
  background:#9E7BB5;
  top: 0;
  left: 0;
  z-index: 9;
  box-shadow: 0 1rem 2rem hsla(var(--primary-hue), 68%, 70%, 70%);
  transition: (--transition);
}

.nav-container {
  
  display:flex;
    justify-content: space-evenly;
    align-items:center;
    color: #F7F5F6;
    
}

.nav-logo {
  color: black;
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 3rem;
  flex-grow: 1;
  font-family: "Updock", cursive;
}

.nav-menu {
  
  display: flex;
  gap: 3.5rem;

}

nav a:hover{
    color:#9966CC;
    
    } 


    .header__container p{
        color: #F7F5F6;
        font-size: 1rem;
        font-weight: 500;
        margin: 0;
        padding: 0;
        text-align: center;
        line-height: 1.5;
        margin-bottom: 1.5rem;
    }


.nav-item:after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 0.7s ease, background-color 0.5s ease;
}



.nav-item .active {
  color: black;
  border: 1px solid black;
}

.nav-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1px solid;
    position: absolute;
    top: 80px;
    left: -110%;
    opacity: 1;
    transition: all 0.5s ease;
    text-align: left;
  }

  .nav-menu.active {
    background: #9E7BB5;
    left: 0px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .nav-item .active {
    color: black;
    border: none;
  }
  .nav-links {
    padding: 1.5rem;
    width: 100%;
    display: table;
  }

  .nav-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    color: black;
  }
}

/* Phone */
@media only screen and (min-device-width: 375px) and (max-device-width: 768px) {
    .nav-menu.active {
        background: #9E7BB5;
        left: 0px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
        display: flex;
        align-items: center; 
    
    }
    .bug-image {
        --x: 0px;
        --y: 0px;
        transform: translate(var(--x), var(--y));
        border-radius: 9rem 9rem 2rem 2rem;
        position: absolute;
        top: 20em;
        left: 0em;
        width: 100%;
        height: 25%;
        object-fit: cover;
        
}
}

/* Tablet */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
}