*   {
  margin: 0;
  padding: 0;
  border:0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  list-style: none;
  text-decoration: none;
  

}
 :root{
  --primary-hue:270;
  --black-lightness: 15%;
  --dark-lightness: 44%;
  --light-lightness: 94%;
  --color-primary: hsl(var(--primary-hue), 89%, 41%);
  --color-white: hsl(0, 5%, var(--white-lightness));
  --color-light: hsl(var(--primary-hue), 5%, var(--light-lightness));
  --color-dark: hsl(var(--primary-hue), 5%, var(--dark-lightness));
  --color-black: hsl(var(--primary-hue), 5%, var(--black-lightness));
  --color-dark: hsl(var(--primary-hue), 5%, var(--dark-lightness));


  /* container vars */
  --container-width-lg: 76%;
  --container-width-md: 90%;

  /* boarder-radius vars */
  --border-radius-1: 1.2rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 0.5rem;

  /* transition var */
  --transition: all 500ms ease;
 }

 html{
  scroll-behavior: smooth;
 }
 body{
  font-family: sans-serif;
  line-height: 1.6;
  font-size: 0.9rem;

 }


 /* general container class */
  .container{
    width:76%;
    
    margin-inline:  auto;
   
      max-width: 1920px;

    }

    /* general section  styles*/ 
    section{
      padding: 10rem 0;
      background: grey;
      transition: all 500ms ease;
    }

    section:nth-child(even) {
      background: white;
    }

   