*   {
  margin: 0;
  padding: 0;
  border:0;
  box-sizing: border-box;
  font-family: 'Gruppo', cursive;
  list-style: none;
  text-decoration: none;
  

}
 :root{
   --primary-hue:270;
  --black-lightness: 15%;
  --dark-lightness: 44%;
  --light-lightness: 94%; 
  --color-primary: hsl(var(--primary-hue), 89%, 41%); 
   --color-white: hsl(0, 5%, var(--white-lightness));
  --color-light: hsl(var(--primary-hue), 5%, var(--light-lightness));
  --color-dark: hsl(var(--primary-hue), 5%, var(--dark-lightness));
  --color-black: hsl(var(--primary-hue), 5%, var(--black-lightness));
  --color-dark: hsl(var(--primary-hue), 5%, var(--dark-lightness));


  /* container vars */
  --container-width-lg: 76%;
  --container-width-md: 90%;

  /* boarder-radius vars */
  --border-radius-1: 1.2rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 0.5rem;

  /* transition var */
  --transition: all 500ms ease;
 }

 html{
  scroll-behavior: smooth;
 }
 body{
  font-family: sans-serif;
  line-height: 1.6;
  font-size: 0.9rem;

 }


 /* general container class */
  .container{
    width:var(--container-width-lg);
    
    margin-inline:  auto;
   
      max-width: 1920px;

    }

    /* general section  styles*/ 
    section{
      padding: 10rem 0;
      background: #e7d6e4;
      transition: var(--transition);
    }

    section:nth-child(even){
      background:#9d8a9f ;
    }
    section > h2{
      text-align: center;
      



    }
    section > p {
      text-align: center;
      margin: 0.5rem auto 4rem;
     width:40%;
     
    }

    /* general section tag */
    a{
      color: #F7F5F6; 
      transition: var(--transition);
    }

    /* general heading styles 
    */

    h1,h2,h3,h4,h5,h6{
      line-height: 1.5;
      color: #846c7a;
      font-weight: 700;
      font-size: 2rem;
      
    }
    h1{
      font-size: 3rem;
      display: flex;
    justify-content: center;
    }
    h2{
      font-size: 2rem;
    }
    h3{
      font-size: 1.6rem;
      display: flex;
      justify-content: center;
    }
    h4{
      font-size: 1.1rem;
    }
    h5{
      font-size: 0.95rem;
      color:#45374f ;
    }
    h6{
      font-size: 0.8rem;
    }
 /* general styles for images */

  img{
    width: 100%;
    height: 80%;
    display: block;
    object-fit: cover;
    
  }

  /* general button styles */
  .btn{
    display: inline-block;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 1rem;
    background: #9E7BB5;
    color: var(--color-black);
    padding:0.6rem 2.5rem ;
    border: 2px solid transparent;
    border-radius: var(--border-radius-2);
    cursor: pointer;
    /* transform: translateY(-0.5rem); */
  }

  .btn:hover{
    background-color:transparent ;
    transform: var(-0.5rem);
    border-color:#4C2882 ;
  }

  .btn.white{
    background:  #F7F5F6;
    
  }
  .btn.white:hover{
    background:transparent ;
   
    border-color: var(--color-white);
  }
  
  .btn.primary{
    background: #86608E;
    color:  #F7F5F6;
  }
  .btn.primary:hover{
    background:transparent ;
    color: #F7F5F6 ;
    border-color:#4C2882;
  }

  .btn.sm{
    padding: 0.5rem 1.2rem;
    
  }
  .btn.light{
color: #F7F5F6;
  }
  #floating-nav{
    display:none;
  }

  /* media queries  for tablet*/
  @media screen and (max-width: 1024px){
    body{
      font-size: 1rem;
    }
    .container{
      width: var(--container-width-md);
    }
    section{
      padding: 8rem 0;
    }
    section > p{
      width: 75%;
      margin-bottom: 3rem;
    }
    h1{
      font-size: 2rem;
    }
  }

  /* media query for phone  */
  @media screen and (max-width: 600px){
   
    section > p{
     width:var(--container-width-md)
    }
    h1{
      font-size: 2.4rem;
    }
    h2{
      font-size: 1.8rem;
    }
    h3{
      font-size: 1.4rem;
    }
    h4{
      font-size: 1rem;
    }
    h5{
      font-size: 0.9rem;
      display: flex;
    justify-content: center;
    }
    h6{
      font-size: 0.8rem;
    }
  }